<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <!-- Show Login and Signup if user is not logged in -->
      <li *ngIf="!isLoggedIn" nz-menu-item routerLink="/login">
        <span nz-icon nzType="login"></span>
        <span>Login</span>
      </li>
      <li *ngIf="!isLoggedIn" nz-menu-item routerLink="/signup">
        <span nz-icon nzType="user-add"></span>
        <span>Signup</span>
      </li>

      <!-- Show Dashboard, Category, Expense, etc. if user is logged in -->
      <li *ngIf="isLoggedIn" nz-menu-item routerLink="/user/dashboard">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      <li *ngIf="isLoggedIn" nz-menu-item routerLink="/user/category">
        <span nz-icon nzType="appstore-add"></span>
        <span>Category</span>
      </li>
      <li *ngIf="isLoggedIn" nz-menu-item routerLink="/user/expense">
        <span nz-icon nzType="minus-circle"></span>
        <span>Expense</span>
      </li>
      <li *ngIf="isLoggedIn" nz-menu-item routerLink="/user/income">
        <span nz-icon nzType="plus-circle"></span>
        <span>Income</span>
      </li>
      <li *ngIf="isLoggedIn" nz-menu-item routerLink="/user/transaction">
        <span nz-icon nzType="transaction"></span>
        <span>Transaction</span>
      </li>
      <li *ngIf="isLoggedIn" nz-menu-item routerLink="/user/budget">
        <span nz-icon nzType="reconciliation" nzTheme="outline"></span>
        <span>Budget</span>
      </li>
      <li *ngIf="isLoggedIn" nz-menu-item routerLink="/user/stats">
        <span nz-icon nzType="area-chart" nzTheme="outline"></span>
        <span>Analytics</span>
      </li>
      <!-- user options -->
      <li nz-submenu nzPlacement="topLeft" nzIcon="user"nzTitle="User" *ngIf="isLoggedIn"
       >     
        <ul>  
          <!-- image url  -->
          <li nz-menu-item *ngIf="isLoggedIn && previewUrl ; else noPicture" class="logo"routerLink="/user/settings" >
            <img [src]="previewUrl" alt="Profile Picture" class="avatar"/>
          </li>
          <ng-template #noPicture>
              <li nz-menu-item *ngIf="isLoggedIn"
          class="logo" routerLink="/user/settings">
              <img src="../assets/img/image.png" alt="Avatar" class="avatar">
            </li>
        </ng-template>
        <!-- reset password module -->
          <li nz-menu-item (click)="showModalMiddle()">Reset Password</li>
                <nz-modal
                [(nzVisible)]="isVisibleMiddle"
                nzTitle="Vertically centered modal dialog"
                nzCentered
                (nzOnCancel)="handleCancelMiddle()"
                (nzOnOk)="handleOkMiddle()"
              >
                <ng-container *nzModalContent>
                  <form nz-form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

                    <!-- email field -->
                    <nz-form-item>
                      <nz-form-control nzHasFeedback>
                      <nz-input-group [nzPrefix]="prefixTemplateEmail">
                        <input
                          nz-input
                          placeholder="E-mail"
                          id="email"
                          formControlName="email"
                        />
                        </nz-input-group>
                        <ng-container *ngIf="resetPasswordForm.get('email')?.invalid && (resetPasswordForm.get('email')?.dirty || resetPasswordForm.get('email')?.touched)">
                          <div *ngIf="resetPasswordForm.get('email')?.errors?.['required']">
                              <span nz-typography nzType="danger">E-mail is required!</span>
                          </div>
                          <div *ngIf="resetPasswordForm.get('email')?.errors?.['email']">
                              <span nz-typography nzType="danger">Invalid e-mail format!</span>
                          </div>
                        </ng-container>
                        <ng-template #prefixTemplateEmail>
                          <span nz-icon nzType="mail" style="margin-right: 10px;"></span>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
            
                    <!-- old password -->
                    <nz-form-item>
                      <nz-form-control nzHasFeedback>
                        <nz-input-group [nzSuffix]="suffixTemplate">
                          <input
                            [type]="passwordVisible ? 'text' : 'password'"
                            nz-input
                            placeholder="old password"
                            formControlName="oldPassword"
                          />
                        </nz-input-group>
                        <ng-container *ngIf="resetPasswordForm.get('oldPassword')?.invalid && (resetPasswordForm.get('oldPassword')?.dirty || resetPasswordForm.get('oldPassword')?.touched)">
                          <div *ngIf="resetPasswordForm.get('oldPassword')?.errors?.['required']">
                              <span nz-typography nzType="danger">Password is required!</span>
                          </div>
                        </ng-container>
                        <ng-template #suffixTemplate>
                          <span
                            nz-icon style="margin-left: 10px;"
                            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible"
                          ></span>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                    <!-- new password -->
                    <nz-form-item>
                      <nz-form-control nzHasFeedback>
                        <nz-input-group [nzSuffix]="suffixTemplate">
                          <input
                            [type]="passwordVisible ? 'text' : 'password'"
                            nz-input
                            placeholder="new password"
                            formControlName="newPassword"
                          />
                        </nz-input-group>
                        <ng-container *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)">
                          <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">
                              <span nz-typography nzType="danger">New Password is required!</span>
                          </div>
                          <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">
                              <span nz-typography nzType="danger">Password must contain 8 characters, 1 lowercase, 1 uppercase, 1 number, and 1 special character.</span>
                          </div>
                        </ng-container>
                        <ng-template #suffixTemplate>
                          <span
                            nz-icon style="margin-left: 10px;"
                            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible"
                          ></span>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>

                    <button
                    nz-button
                    class="login-form-button login-form-margin"
                    [nzType]="'primary'"
                    nzSuccess=""
                    [disabled]="resetPasswordForm.invalid"
                  >
                    Reset Password
                  </button>
                  
                </form>
                </ng-container>
              </nz-modal>
              
          <li ></li>
        </ul>
      </li>
      <!-- <li style="margin-top: 220px;" *ngIf="isLoggedIn"
       class="logo" routerLink="/user/settings/{{user.id}}/edit">
          <img src="../assets/img/image.png" alt="Avatar" class="avatar">
      </li> -->
      <!-- Logout button when user is logged in -->
      <li *ngIf="isLoggedIn" nz-menu-item (click)="signout()">
        <span nz-icon nzType="logout"></span>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!-- header -->
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
      <span>
      <img src="https://cdn-icons-png.flaticon.com/128/781/781760.png"
               alt="img" style="width: 60px;"
               class="logo">
        </span>
      <div class="user-info link--kale" routerLink="/home">
          <strong>FINANCE TRACKER</strong>
        </div>
    </nz-header>
    <!-- body -->
    <nz-content>
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <div class="inner-content">
          <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- footer -->
    <nz-footer></nz-footer>
  </nz-layout>
 </nz-layout>