.bill-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  position: relative;
  margin-bottom: auto;
}

.bill-form {
  max-width: 500px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
  color: #3399cc;
  text-align: center;
  text-decoration: underline;
}
